
@import "tailwindcss";
/* ==========================================
   Premium Scrollbar
========================================== */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3b82f6;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #334155 #020617;
}